$break-320: 20em;
$break-321: 20.0625em;
$break-480: 30em;
$break-600: 37.5em;
$break-639: 39.9375em; // Foundation's Small only      (max-width: 39.9375em)
$break-640: 40em; // Foundation's Medium and up   (min-width: 40em)
$break-768: 48em;
$break-980: 61.25em;
$break-1023: 63.9375em; // Foundation's Medium only     (min-width: 40em) and (max-width: 63.9375em)
$break-1024: 64em; // Foundation's Large and up    (min-width: 64em)
$break-1200: 75em;
$break-1224: 76.5em;
$break-1280: 80em;
$break-1399: 87.438em;
$break-1400: 87.5em;
$break-1824: 114em;

@mixin breakpoint($point) {
	@if $point == tablet {
		@media (min-width: $break-640) {
			@content;
		}
	} @else if $point == desktop {
		@media (min-width: $break-1024) {
			@content;
		}
	} @else if $point == mobile {
		@media only screen and (min-device-width: $break-320) and (max-device-width: $break-639) {
			@content;
		}
	} @else if $point == mobileLandscape {
		@media only screen and (min-width: $break-320) and (orientation: landscape) {
			@content;
		}
	} @else if $point == mobilePortrait {
		@media only screen and (max-width: $break-320) and (orientation: portrait) {
			@content;
		}
	} @else if $point == ipad {
		@media only screen and (min-device-width: $break-768) and (max-device-width: $break-1024) {
			@content;
		}
	} @else if $point == ipadLandscape {
		@media only screen and (min-device-width: $break-768) and (max-device-width: $break-1024) and (orientation: landscape) {
			@content;
		}
	} @else if $point == ipadPortrait {
		@media only screen and (min-device-width: $break-768) and (max-device-width: $break-1024) and (orientation: portrait) {
			@content;
		}
	} @else if $point == laptop {
		@media only screen and (min-width: $break-1024) {
			@content;
		}
	} @else if $point == desktopLarge {
		@media only screen and (min-width: $break-1280) {
			@content;
		}
	} @else if $point == iphone4 {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (min-device-pixel-ratio: 1.5) {
			@content;
		}
		/*
	 *	Foundation Breakpoints
	 */
	} @else if $point == smallOnly {
		@media only screen and (max-width: $break-639) {
			@content;
		}
	} @else if $point == mediumOnly {
		@media only screen and (min-width: $break-640) and (max-width: $break-1023) {
			@content;
		}
	} @else if $point == mediumUp {
		@media only screen and (min-width: $break-640) {
			@content;
		}
	} @else if $point == largeUp {
		@media only screen and (min-width: $break-1024) {
			@content;
		}
	}
}
@mixin custom-bp($min: 0, $max: 0) {
	$query: "all" !default;

	@if $min != 0 and $max != 0 {
		$query: "only screen and (min-width: #{$min}) and (max-width: #{$max})";
	} @else if $min != 0 and $max == 0 {
		$query: "only screen and (min-width: #{$min})";
	} @else if $min == 0 and $max != 0 {
		$query: "only screen and (max-width: #{$max})";
	}

	@media #{$query} {
		@content;
	}
}
@mixin browser($browser) {
	@if $browser == edge {
		@media screen and (-ms-high-contrast: active),
			screen and (-ms-high-contrast: none) {
			@content;
		}
	}
}
