// PRIMARY COLOURS
// https://coolors.co/0a318c-ba8e27-877448-786334-fcdc90
$egyptian-blue: #0a318c;
$dark-goldenrod: #ba8e27;
$gold-fusion: #877448;
$field-drab: #786334;
$jasmine: #fcdc90;

// ALERTS COLOURS
$info-1: #90cbfc;
$info-2: #fccf90;
$error: #a51212;
$warning: #fc9090;
$success: #4caf50;

// COLOUR PALETTE
$red: #a51212;
$orange: #d48a11;
$yellow: #eed70b;
$green: #17750b;
$blue: $egyptian-blue;
$indigo: #0e1f53;
$violet: #5b117e;

$aqua: #09b682;
$cyan: #0cafa7;

// GREYSCALE VALUES
$black: #1a1a1a;
$dark-grey: #4d4d4d;
$mid-grey: #808080;
$light-grey: #b3b3b3;
$lightest-grey: #e6e6e6;
$off-white: #f9f9f9;
$white: #ffffff;

// FONTS
$openSans: "Open Sans", sans-serif;
$barlow: "Barlow", sans-serif;

//  LINE HEIGHTS
$large-line: 2;
$normal-line: 1.6;
$small-line: 1.3;
$tiny-line: 1.1;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;
