@import "../../scss/helpers.scss";

.pills {
	li {
		line-height: 1.2;
		font-size: rem-calc(13);
		padding: rem-calc(2 7);
		border-radius: rem-calc(30);
		border: rem-calc(1) solid rgba($dark-goldenrod, 0.8);
		text-transform: capitalize;
		background-color: rgba($dark-goldenrod, 0.1);
		// box-shadow: rem-calc(0 15 10 -12) rgba($dark-goldenrod, 0.5);

		&:not(:last-of-type) {
			margin-right: rem-calc(5);
		}
	}
}
