.hide-for-tablet {
	@include breakpoint(mediumUp) {
		display: none;
	}
}
.show-for-tablet {
	display: none;

	@include breakpoint(mediumUp) {
		display: block;
	}
}
.hide-for-tablet-only {
	@include breakpoint(mediumOnly) {
		display: none;
	}
}
.show-for-tablet-only {
	display: none;

	@include breakpoint(mediumOnly) {
		display: block;
	}
}
.hide-for-desktop,
.hide-for-desktop-only {
	@include breakpoint(largeUp) {
		display: none;
	}
}
.show-for-desktop,
.show-for-desktop-only {
	display: none;

	@include breakpoint(largeUp) {
		display: block;
	}
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}
